<a href="https://colab.research.google.com/github/Nur9702/Sertifikat/blob/main/Prognozofbank_last.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# IMPORTANT: SOME KAGGLE DATA SOURCES ARE PRIVATE
# RUN THIS CELL IN ORDER TO IMPORT YOUR KAGGLE DATA SOURCES.
import kagglehub
kagglehub.login()

In [ ]:
# IMPORTANT: RUN THIS CELL IN ORDER TO IMPORT YOUR KAGGLE DATA SOURCES,
# THEN FEEL FREE TO DELETE THIS CELL.
# NOTE: THIS NOTEBOOK ENVIRONMENT DIFFERS FROM KAGGLE'S PYTHON
# ENVIRONMENT SO THERE MAY BE MISSING LIBRARIES USED BY YOUR
# NOTEBOOK.

binaryclassificationwithabankchurndataset_path = kagglehub.competition_download('binaryclassificationwithabankchurndataset')

print('Data source import complete.')

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All"
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/binaryclassificationwithabankchurndataset/sample_submission.csv
/kaggle/input/binaryclassificationwithabankchurndataset/train.csv
/kaggle/input/binaryclassificationwithabankchurndataset/test.csv

In [ ]:
!/kaggle/input/binaryclassificationwithabankchurndataset

/bin/bash: line 1: /kaggle/input/binaryclassificationwithabankchurndataset: Is a directory

In [ ]:
!binaryclassificationwithabankchurndataset_path = kagglehub.competition_download('binaryclassificationwithabankchurndataset')

/bin/bash: -c: line 1: syntax error near unexpected token `('
/bin/bash: -c: line 1: `binaryclassificationwithabankchurndataset_path = kagglehub.competition_download('binaryclassificationwithabankchurndataset')'

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [ ]:
train = pd.read_csv('/kaggle/input/binaryclassificationwithabankchurndataset/train.csv', index_col='id')

test = pd.read_csv('/kaggle/input/binaryclassificationwithabankchurndataset/test.csv', index_col='id')

submission = pd.read_csv('/kaggle/input/binaryclassificationwithabankchurndataset/sample_submission.csv')

train.head()

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
id,,,,,,,,,,,,,
0,15702656.0,Nwora,567.0,France,Male,33.0,9.0,0.0,2.0,1.0,0.0,156792.89,0.0
1,15647965.0,Yevdokimova,628.0,France,Female,38.0,3.0,0.0,1.0,1.0,1.0,51987.99,1.0
2,15798834.0,Ch'iu,635.0,France,Female,29.0,3.0,0.0,2.0,1.0,1.0,113079.19,0.0
3,15672056.0,Hsia,681.0,France,Male,28.0,6.0,0.0,2.0,1.0,0.0,14081.64,0.0
4,15759537.0,Okwudilichukwu,587.0,France,Female,27.0,5.0,0.0,2.0,1.0,0.0,158958.90,0.0

In [ ]:
train.isnull().sum()

CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [ ]:
train.duplicated().sum() #duplikatlarni tekshiriladi

0

In [ ]:
train.Geography.value_counts(), #ustunlar sonini va kachestvasini tekshirish
#train.Gender.value_counts(),
#train.Exited.value_counts()

(Geography
 France     9040
 Spain      3280
 Germany    2680
 Name: count, dtype: int64,)

In [ ]:
train.Gender.value_counts(),

(Gender
 Male      8478
 Female    6522
 Name: count, dtype: int64,)

In [ ]:
test.drop(['CustomerId', 'Surname'], axis=1, inplace=True)
train.drop(['CustomerId', 'Surname'], axis=1, inplace=True) #keraksiz ustunlar o'chirildi

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15000 entries, 0 to 14999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      15000 non-null  float64
 1   Geography        15000 non-null  object
 2   Gender           15000 non-null  object
 3   Age              15000 non-null  float64
 4   Tenure           15000 non-null  float64
 5   Balance          15000 non-null  float64
 6   NumOfProducts    15000 non-null  float64
 7   HasCrCard        15000 non-null  float64
 8   IsActiveMember   15000 non-null  float64
 9   EstimatedSalary  15000 non-null  float64
 10  Exited           15000 non-null  float64
dtypes: float64(9), object(2)
memory usage: 1.4+ MB

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10000 entries, 15000 to 24999
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  float64
 1   Geography        10000 non-null  object
 2   Gender           10000 non-null  object
 3   Age              10000 non-null  float64
 4   Tenure           10000 non-null  float64
 5   Balance          10000 non-null  float64
 6   NumOfProducts    10000 non-null  float64
 7   HasCrCard        10000 non-null  float64
 8   IsActiveMember   10000 non-null  float64
 9   EstimatedSalary  10000 non-null  float64
dtypes: float64(8), object(2)
memory usage: 859.4+ KB

In [ ]:
test.describe()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,658.585300,37.756600,5.043300,42336.815284,1.597600,0.779300,0.492800,117522.515842
std,72.442214,8.146459,2.797286,59461.091171,0.533763,0.414739,0.499973,46036.567342
min,431.000000,18.000000,0.000000,0.000000,1.000000,0.000000,0.000000,479.540000
25%,602.000000,32.000000,3.000000,0.000000,1.000000,1.000000,0.000000,82868.340000
50%,663.000000,37.000000,5.000000,0.000000,2.000000,1.000000,0.000000,122612.010000
75%,709.000000,42.000000,7.000000,108739.410000,2.000000,1.000000,1.000000,157567.362500
max,850.000000,72.000000,10.000000,187841.990000,6.000000,1.000000,1.000000,199992.480000

In [ ]:
train.describe()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000
mean,657.856800,37.710133,5.018667,42338.107539,1.590533,0.779133,0.496000,116944.059867,0.198467
std,72.678739,8.144880,2.787407,59703.047751,0.525822,0.414845,0.500001,46047.485455,0.398859
min,431.000000,18.000000,0.000000,0.000000,1.000000,0.000000,0.000000,11.580000,0.000000
25%,602.000000,32.000000,3.000000,0.000000,1.000000,1.000000,0.000000,82644.332500,0.000000
50%,661.000000,37.000000,5.000000,0.000000,2.000000,1.000000,0.000000,122449.420000,0.000000
75%,707.000000,42.000000,7.000000,109636.342500,2.000000,1.000000,1.000000,155703.022500,0.000000
max,850.000000,72.000000,10.000000,187911.550000,5.000000,1.000000,1.000000,885120.790000,1.000000

In [ ]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

In [ ]:
train

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
id,,,,,,,,,,,
0,567.0,France,Male,33.0,9.0,0.00,2.0,1.0,0.0,156792.89,0.0
1,628.0,France,Female,38.0,3.0,0.00,1.0,1.0,1.0,51987.99,1.0
2,635.0,France,Female,29.0,3.0,0.00,2.0,1.0,1.0,113079.19,0.0
3,681.0,France,Male,28.0,6.0,0.00,2.0,1.0,0.0,14081.64,0.0
4,587.0,France,Female,27.0,5.0,0.00,2.0,1.0,0.0,158958.90,0.0
...,...,...,...,...,...,...,...,...,...,...,...
14995,581.0,France,Male,35.0,1.0,0.00,2.0,1.0,0.0,161653.50,0.0
14996,806.0,Germany,Male,42.0,1.0,129120.64,2.0,1.0,1.0,161642.08,0.0
14997,620.0,France,Female,29.0,7.0,0.00,2.0,1.0,1.0,161579.85,0.0
14998,622.0,Germany,Male,51.0,6.0,106070.89,3.0,1.0,0.0,136869.31,1.0
14999,543.0,France,Male,36.0,8.0,0.00,1.0,1.0,1.0,163568.33,0.0

In [ ]:
one_hot = OneHotEncoder(dtype=np.int8, sparse_output=False ) #drop = 'first' ma'lumot kamligi uchun shart emas
stan_scal = StandardScaler()
col_trans = ColumnTransformer([
    ('one_hot', one_hot, ['Geography', 'Gender'])
], remainder='passthrough').set_output(transform='pandas')

In [ ]:
col_trans

ColumnTransformer(remainder='passthrough',
                  transformers=[('one_hot',
                                 OneHotEncoder(dtype=<class 'numpy.int8'>,
                                               sparse_output=False),
                                 ['Geography', 'Gender'])])

In [ ]:
trans_df = col_trans.fit_transform(train)
test_df = col_trans.fit_transform(test)
trans_df

,one_hot__Geography_France,one_hot__Geography_Germany,one_hot__Geography_Spain,one_hot__Gender_Female,one_hot__Gender_Male,remainder__CreditScore,remainder__Age,remainder__Tenure,remainder__Balance,remainder__NumOfProducts,remainder__HasCrCard,remainder__IsActiveMember,remainder__EstimatedSalary,remainder__Exited
id,,,,,,,,,,,,,,
0,1,0,0,0,1,567.0,33.0,9.0,0.00,2.0,1.0,0.0,156792.89,0.0
1,1,0,0,1,0,628.0,38.0,3.0,0.00,1.0,1.0,1.0,51987.99,1.0
2,1,0,0,1,0,635.0,29.0,3.0,0.00,2.0,1.0,1.0,113079.19,0.0
3,1,0,0,0,1,681.0,28.0,6.0,0.00,2.0,1.0,0.0,14081.64,0.0
4,1,0,0,1,0,587.0,27.0,5.0,0.00,2.0,1.0,0.0,158958.90,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14995,1,0,0,0,1,581.0,35.0,1.0,0.00,2.0,1.0,0.0,161653.50,0.0
14996,0,1,0,0,1,806.0,42.0,1.0,129120.64,2.0,1.0,1.0,161642.08,0.0
14997,1,0,0,1,0,620.0,29.0,7.0,0.00,2.0,1.0,1.0,161579.85,0.0
14998,0,1,0,0,1,622.0,51.0,6.0,106070.89,3.0,1.0,0.0,136869.31,1.0
14999,1,0,0,0,1,543.0,36.0,8.0,0.00,1.0,1.0,1.0,163568.33,0.0

In [ ]:
test_df = col_trans.fit_transform(test)
test_df

,one_hot__Geography_France,one_hot__Geography_Germany,one_hot__Geography_Spain,one_hot__Gender_Female,one_hot__Gender_Male,remainder__CreditScore,remainder__Age,remainder__Tenure,remainder__Balance,remainder__NumOfProducts,remainder__HasCrCard,remainder__IsActiveMember,remainder__EstimatedSalary
id,,,,,,,,,,,,,
15000,0,1,0,0,1,707.0,21.0,4.0,114513.66,2.0,1.0,0.0,176692.87
15001,0,1,0,0,1,678.0,33.0,5.0,142510.50,1.0,0.0,0.0,52820.13
15002,0,0,1,0,1,636.0,45.0,9.0,0.00,2.0,1.0,1.0,125062.02
15003,0,0,1,0,1,697.0,46.0,8.0,0.00,2.0,1.0,0.0,131647.41
15004,0,0,1,0,1,553.0,31.0,2.0,0.00,2.0,1.0,0.0,58814.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,1,0,0,1,0,583.0,46.0,4.0,0.00,2.0,1.0,1.0,175071.29
24996,1,0,0,0,1,513.0,42.0,4.0,148159.71,2.0,1.0,1.0,149740.22
24997,0,0,1,0,1,559.0,52.0,7.0,117561.49,3.0,1.0,0.0,163534.36
24998,1,0,0,1,0,811.0,30.0,7.0,0.00,2.0,1.0,1.0,104786.59
24999,1,0,0,0,1,591.0,41.0,3.0,79871.02,1.0,1.0,0.0,136983.77

In [ ]:
trans_df.describe()

,one_hot__Geography_France,one_hot__Geography_Germany,one_hot__Geography_Spain,one_hot__Gender_Female,one_hot__Gender_Male,remainder__CreditScore,remainder__Age,remainder__Tenure,remainder__Balance,remainder__NumOfProducts,remainder__HasCrCard,remainder__IsActiveMember,remainder__EstimatedSalary,remainder__Exited
count,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000
mean,0.602667,0.178667,0.218667,0.434800,0.565200,657.856800,37.710133,5.018667,42338.107539,1.590533,0.779133,0.496000,116944.059867,0.198467
std,0.489362,0.383086,0.413356,0.495747,0.495747,72.678739,8.144880,2.787407,59703.047751,0.525822,0.414845,0.500001,46047.485455,0.398859
min,0.000000,0.000000,0.000000,0.000000,0.000000,431.000000,18.000000,0.000000,0.000000,1.000000,0.000000,0.000000,11.580000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,602.000000,32.000000,3.000000,0.000000,1.000000,1.000000,0.000000,82644.332500,0.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000,661.000000,37.000000,5.000000,0.000000,2.000000,1.000000,0.000000,122449.420000,0.000000
75%,1.000000,0.000000,0.000000,1.000000,1.000000,707.000000,42.000000,7.000000,109636.342500,2.000000,1.000000,1.000000,155703.022500,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,850.000000,72.000000,10.000000,187911.550000,5.000000,1.000000,1.000000,885120.790000,1.000000

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import StackingClassifier, RandomForestClassifier, GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.metrics import classification_report, accuracy_score, roc_auc_score

In [ ]:
model_RF = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=42)
model_GB = GradientBoostingClassifier(n_estimators=100, learning_rate=0.1, max_depth=3, random_state=42)
model_KNN = KNeighborsClassifier(n_neighbors=5)
model_SVC = SVC(probability=True, kernel='rbf', C=1.0)
model_LR = LogisticRegression()

models = [model_LR, model_SVC, model_KNN, model_GB, model_RF]

In [ ]:
X_train = trans_df.drop(['remainder__Exited'], axis=1).copy()
y_train = trans_df['remainder__Exited'].copy()
X_test = test_df

In [ ]:
for model in models:
    model.fit(X_train, y_train)  # Fit using training data
    y_pred_train = model.predict(X_train)  # Predict on training data
    y_pred_test = model.predict(X_test)  # Predict on test data

    print(f"Model: {model}\n")
    print(f"Accuracy on Training Data: {accuracy_score(y_train, y_pred_train)}\n")  # Evaluate on training data

Model: LogisticRegression()

Accuracy on Training Data: 0.8268

Model: SVC(probability=True)

Accuracy on Training Data: 0.8015333333333333

Model: KNeighborsClassifier()

Accuracy on Training Data: 0.8246666666666667

Model: GradientBoostingClassifier(random_state=42)

Accuracy on Training Data: 0.9024666666666666

Model: RandomForestClassifier(max_depth=5, random_state=42)

Accuracy on Training Data: 0.8838

In [ ]:
for model in models:
  model.fit(X_train, y_train)
  y_pred = model.predict(X_train)

  print(f"Model: {model} \n")
  print(f"Accuracy: {accuracy_score(y_train, y_pred)} \n")
  print(f"Classification Report: {classification_report(y_train, y_pred)}")
  print("  "*25)
  print("*"*25)
  print("  "*25)

Model: LogisticRegression()

Accuracy: 0.8268

Classification Report:               precision    recall  f1-score   support

         0.0       0.85      0.96      0.90     12023
         1.0       0.64      0.29      0.40      2977

    accuracy                           0.83     15000
   macro avg       0.74      0.62      0.65     15000
weighted avg       0.80      0.83      0.80     15000


*************************

Model: SVC(probability=True)

Accuracy: 0.8015333333333333

Classification Report:               precision    recall  f1-score   support

         0.0       0.80      1.00      0.89     12023
         1.0       0.00      0.00      0.00      2977

    accuracy                           0.80     15000
   macro avg       0.40      0.50      0.44     15000
weighted avg       0.64      0.80      0.71     15000


*************************

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

Model: KNeighborsClassifier()

Accuracy: 0.8246666666666667

Classification Report:               precision    recall  f1-score   support

         0.0       0.84      0.97      0.90     12023
         1.0       0.66      0.24      0.36      2977

    accuracy                           0.82     15000
   macro avg       0.75      0.61      0.63     15000
weighted avg       0.80      0.82      0.79     15000


*************************

Model: GradientBoostingClassifier(random_state=42)

Accuracy: 0.9024666666666666

Classification Report:               precision    recall  f1-score   support

         0.0       0.92      0.96      0.94     12023
         1.0       0.81      0.66      0.73      2977

    accuracy                           0.90     15000
   macro avg       0.87      0.81      0.83     15000
weighted avg       0.90      0.90      0.90     15000


*************************

Model: RandomForestClassifier(max_depth=5, random_state=42)

Accuracy: 0.8838

Classification Report:               precision    recall  f1-score   support

         0.0       0.89      0.98      0.93     12023
         1.0       0.84      0.51      0.64      2977

    accuracy                           0.88     15000
   macro avg       0.86      0.74      0.78     15000
weighted avg       0.88      0.88      0.87     15000


*************************

In [ ]:
base_models = [
    ('rf', RandomForestClassifier(n_estimators=100, max_depth=5, random_state=42)),  # Cheklangan chuqurlik
    ('gb', GradientBoostingClassifier(n_estimators=100, learning_rate=0.1, max_depth=3, random_state=42)),  # Katta emas
    ('knn', KNeighborsClassifier(n_neighbors=5)),
    ('svc', SVC(probability=True, kernel='rbf', C=1.0))
]

meta_model = LogisticRegression()

stacking_model = StackingClassifier(estimators=base_models, final_estimator=meta_model, cv=5)

In [ ]:
stacking_model.fit(X_train, y_train)

#train data uchun test
y_pred = stacking_model.predict(X_train)
accuracy = accuracy_score(y_train, y_pred)
print(f"Stacking model accuracy: {accuracy:.4f}")

Stacking model accuracy: 0.9023

In [ ]:
#Train uchun ROC AUC Score
y_proba_train = stacking_model.predict_proba(X_train)[:, 1]
roc_auc = roc_auc_score(y_train, y_proba_train)
print(f"ROC AUC Score: {roc_auc:.4f}")

ROC AUC Score: 0.9443

In [ ]:
from sklearn.metrics import accuracy_score

# ... (your existing code for model training and prediction) ...

y_pred_test = stacking_model.predict(X_test) # Predict labels for the test set

accuracy = accuracy_score(y_pred_test, y_pred_test)

print(f"Test Accuracy: {accuracy:.4f}")

Test Accuracy: 1.0000

In [ ]:
y_stack_pred = stacking_model.predict_proba(X_test)[:, 1]
y_stack_pred

array([0.07331136, 0.12111469, 0.04149053, ..., 0.96652861, 0.03056558,
       0.09522593])

In [ ]:
import pandas as pd
import numpy as np

# Assuming y_stack_pred contains your predictions
ans = pd.DataFrame(y_stack_pred, columns=['Exited'])

ans['id'] = np.arange(15000, 25000)  # Add 'id' column
ans = ans.set_index('id')  # Set 'id' as index

ans.to_csv('predict_4.csv', index=True)  # Save with index
ans

         Exited
id
15000  0.073311
15001  0.121115
15002  0.041491
15003  0.087270
15004  0.030106
...         ...
24995  0.073565
24996  0.055711
24997  0.966529
24998  0.030566
24999  0.095226

[10000 rows x 1 columns]

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# Load training data
train_data = pd.read_csv('/kaggle/input/binaryclassificationwithabankchurndataset/train.csv', index_col='id')
  # Replace 'train.csv' with your training data file
X = train_data[['CreditScore', 'Age',	'Tenure',	'Balance',	'NumOfProducts',	'HasCrCard',	'IsActiveMember',	'EstimatedSalary']]  # Select feature columns
y = train_data['Exited']  # Select target variable column

# Split training data into training and validation sets
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)  # 80% train, 20% validation

# Train your model on the training set
stacking_model.fit(X_train, y_train)

# Evaluate on the validation set
y_pred_val = stacking_model.predict(X_val)
val_accuracy = accuracy_score(y_val, y_pred_val)
print(f"Validation Accuracy: {val_accuracy:.4f}")

# If satisfied with validation performance, train on the full training data
# and predict on the test data for submission
stacking_model.fit(X, y)  # Train on full training data

# Load test data
test_data = pd.read_csv('/kaggle/input/binaryclassificationwithabankchurndataset/train.csv', index_col='id')  # Replace 'test.csv' with your test data file
X_test = test_data[['CreditScore', 'Age',	'Tenure',	'Balance',	'NumOfProducts',	'HasCrCard',	'IsActiveMember',	'EstimatedSalary']]  # Select feature columns # Select feature columns

# Predict on the test data
y_pred_test = stacking_model.predict(X_test)

# Create submission file
submission_df = pd.DataFrame({'CreditScore': test_data['CreditScore'], 'excited': y_pred_test})  # Adjust column names
submission_df.to_csv('submission.csv', index=False)

Validation Accuracy: 0.8927